# Python bytecode
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Docker
**/__pycache__/
docker_pgdata/

# IDE settings
.vscode/
.idea/

# Database
db.sqlite3

# Logs
*.log